---
import { type CollectionEntry, getCollection, render } from 'astro:content';
import BlogPost from '../../layouts/BlogPost.astro';
import * as contentful from 'contentful';
import { documentToHtmlString } from '@contentful/rich-text-html-renderer';

export async function getStaticPaths() {
    const client = contentful.createClient({
	space: import.meta.env.CONTENTFUL_SPACE,
	accessToken: import.meta.env.CONTENTFUL_ACCESSTOKEN,
	enviroment: import.meta.env.CONTENTFUL_ENVIROMENT
    });

    const entries = await client.getEntries();
    const posts = entries.items;

    return posts.map((post) => ({
	    params: { slug: post.sys.id },
	    props: post,
    }));
}

const post = Astro.props;
console.log(post.fields.content);
const contentHtml = documentToHtmlString(post.fields.content);
---

<BlogPost {...post.data}>
    <div set:html={contentHtml}></div>
</BlogPost>

