---
import BlogPost from '../../layouts/BlogPost.astro';
import * as contentful from 'contentful';
import { documentToHtmlString } from '@contentful/rich-text-html-renderer';

export async function getStaticPaths() {
    const client = contentful.createClient({
	space: import.meta.env.CONTENTFUL_SPACE,
	accessToken: import.meta.env.CONTENTFUL_ACCESSTOKEN,
	environment: import.meta.env.CONTENTFUL_ENVIROMENT
    });

    const entries = await client.getEntries();
    const posts = entries.items;

    return posts.map((post) => ({
	    params: { slug: post.sys.id },
	    props: post,
    }));
}

const post = Astro.props;
console.log(post.fields.content);
const contentHtml = documentToHtmlString(post.fields.content as any);
---

<BlogPost title={post.fields.title as string} description={(post.fields.description as string) || ''} pubDate={new Date(post.sys.createdAt)} updatedDate={new Date(post.sys.updatedAt)} heroImage={(post.fields.heroImage as any)?.fields?.file?.url}>
    <div set:html={contentHtml}></div>
</BlogPost>

